.classpath
.project
.settings/
.vscode/
*~
junitResult.xml
lcovResult.lcov
docs/
lib-cov/
node_modules/
target/
npm-debug.log
reports/

# Only apps should have lockfiles, not libs/packages
npm-shrinkwrap.json
package-lock.json
yarn.lock

/index.js
/kurento-utils.*
coverage/
